@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}

.logo > img {
    width: 80%;
}

nav > ul {
    display: flex;
    list-style: none;
    font-size: 0.8rem;
    color: var(--dark-grayish-blue);
}

nav > ul > li {
    padding: 10px;
}

nav > ul > li:hover {
    cursor: pointer;
    color: var(--soft-red);
}

main {
    width: 75%;
    margin: 20px auto;
    display: flex;
    height: 450px;
}

.hero {
    width: 65%;
    margin-right: 5%;
}

.hero-img > img {
    width: 100%;
    margin-bottom: 20px;
}

.hero-container {
    display: flex;
}

.hero-title {
    width: 40%;
    margin-right: 5%;
    font-weight: 800;
    font-size: 1.4rem;
}

.hero-title > h1 {
    margin: 0;
}

.hero-content {
    margin-left: 5%;
    width: 50%;
}

.hero-text {
    font-size: 0.8rem;
    color: var(--dark-grayish-blue);
    line-height: 1.6rem;
}

.hero-button {
    width: 50%;
    height: 40px;
    background-color: var(--soft-red);
    color: var(--off-white);
    font-weight: 500;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px
}

.hero-button:hover {
    cursor: pointer;
    background-color: var(--very-dark-blue);
}

.sidebar {
    width: 30%;
    background-color: var(--very-dark-blue);
}

.sidebar-title {
    padding: 15px;
    color: var(--soft-orange)
}

.sidebar-news {
    padding: 0 15px;
    color: var(--off-white);
    border-bottom: 1px solid var(--off-white)
}

.sidebar-news > p {
    font-size: 0.8rem;
    color: var(--grayish-blue)
}

@media (max-width: 768px) {
    .logo > img {
        width: 60%;
    }

    header,
    main {
        width: 86%;
    }
}
